body {
    font-family: 'Poppins', sans-serif;
    background-image: url('notas.jpg'); /* Mantenha o fundo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f1faee; /* Branco suave */
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f1faee; /* Branco suave */
}

form {
    background-color: rgba(29, 53, 87, 0.8); /* Azul profundo com transparência */
    border-radius: 10px;
    padding: 40px;
    max-width: 400px;
    margin: 0 auto;
    color: #f1faee;
}

label { 
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}


input[type="text"], 
textarea, 
select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #f4a261; /* Amarelo quente */
    color: #1d3557; /* Azul profundo */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

button:hover {
    background-color: #e9c46a; /* Amarelo mais claro */
    transform: scale(1.05);
}

a {
    color: #f1faee; /* Branco suave */
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

a:hover {
    text-decoration: underline;
}
